// LSP : Language Server Provider
/* Paleta de colores HEX */
/*https://coolors.co/palette/ef476f-ffd166-06d6a0-118ab2-073b4c*/
/*/https://coolors.co/palette/2b2d42-8d99ae-edf2f4-ef233c-d90429 */
$c_red600 : #ef476fff;
$c_cyan600 : #ffd166ff;
$c_green600 : #06d6a0ff;
$c_green900: #073b4cff;
$c_yellow600 : #118ab2ff;
$c_white : #fff ;
$c_black : #000 ;

$c_grey100 : #EDF2F4 ;

/*Paleta HSL*/
/*https://coolors.co/palette/03045e-023e8a-0077b6-0096c7-00b4d8-48cae4-90e0ef-ade8f4-caf0f8*/
$c_blue900 : hsla(239, 94%, 19%, 1);
$c_blue800 : hsla(214, 97%, 27%, 1);
$c_blue700 : hsla(201, 100%, 36%, 1);
$c_blue600 : hsla(195, 100%, 39%, 1);
$c_blue500 : hsla(190, 100%, 42%, 1);
$c_blue400 : hsla(189, 74%, 59%, 1);
$c_blue300 : hsla(189, 75%, 75%, 1);
$c_blue200 : hsla(190, 76%, 82%, 1);
$c_blue100 : hsla(190, 77%, 88%, 1);


// '--c_'