// Comienzo Main
@use './h-colors';
@use './c-list' ;

.main {
    grid-area : Main ;
    
    background-color: h-colors.$c_grey100 ;

    & .section {
        @include Flex ( flex , column nowrap , center , center ) ;
        width: 100% ;

        & .article {

            &__header {
                margin: 2rem ;
                text-align: center;

                &--title { font-weight: 600; }
                &--subtitle { font-weight: 400; }
            }
            
            &__main {
                @include c-list ;                
  
            }
        }
    }
}
