@charset 'UTF-8';


@mixin Flex ( $display , $flexFlow , $jContent , $aItems , $gap : false ){
    display: $display;
    flex-flow : $flexFlow ;
    justify-content : $jContent ;
    align-items : $aItems ;
    
    @if $gap {
        gap : $gap
    }

    @content ;
}
