html {
  font-size: 18px;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem; /* fuente base 14px * 20 = ...*/
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

.container {
  padding: 0 10px;
}

.body {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10vh 75vh 15vh;
  grid-template-areas: "Header Header" "Main Main" "Footer Footer";
}

/* Comienzo Header */
.header {
  grid-area: Header;
  background: hsl(191deg, 75%, 60%);
  background: linear-gradient(180deg, hsl(214deg, 97%, 27%) 0%, hsl(189deg, 75%, 75%) 100%);
  background: -moz-linear-gradient(180deg, hsl(214deg, 97%, 27%) 0%, hsl(189deg, 75%, 75%) 100%);
  background: -webkit-linear-gradient(180deg, hsl(214deg, 97%, 27%) 0%, hsl(189deg, 75%, 75%) 100%);
}
.header .section {
  height: 100%;
}
.header .section .navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}
.header .section .navbar .logo {
  display: flex;
  place-items: center;
  gap: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: #fff;
  border-radius: 2rem;
  color: #000;
  text-decoration: none;
}
.header .section .navbar .logo span:hover {
  transition: 2s ease-in;
  rotate: 45deg;
}
.header .section .navbar .logo figure {
  display: inline-flex;
  place-items: center;
  height: 100%;
}
.header .section .navbar .button {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: transparent;
  border: 0;
}
.header .section .navbar .button > span {
  border: 2px solid #fff;
  border-radius: 5px;
  width: 100%;
  transition: all 0.5s;
  transform-origin: left;
}
.header .section .navbar .button:hover span:first-child {
  transform: rotate(45deg);
}
.header .section .navbar .button:hover span:nth-child(2) {
  opacity: 0;
}
.header .section .navbar .button:hover span:last-child {
  transform: rotate(-45deg);
}
.header .section .navbar .navbar__menu {
  display: none;
  position: relative;
}
.header .section .navbar .navbar__menu--item a {
  text-decoration: none;
}

/*Comienzo .Aside*/
.main {
  grid-area: Main;
  background-color: #EDF2F4;
}
.main .section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.main .section .article__header {
  margin: 2rem;
  text-align: center;
}
.main .section .article__header--title {
  font-weight: 600;
}
.main .section .article__header--subtitle {
  font-weight: 400;
}
.main .section .article__main--menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}
.main .section .article__main--menu--item {
  display: flex;
  place-content: center;
  width: 40vw;
  padding: 0.5rem;
  border-radius: 2rem;
  list-style-type: none;
  background-color: hsl(190deg, 100%, 42%);
}
.main .section .article__main--menu--item a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}
.main .section .article__main--menu--item a figure {
  width: 2rem;
  height: 2rem;
}
.main .section .article__main--menu--item a figure img {
  background: radial-gradient(circle, hsl(0deg, 0%, 100%) 55%, transparent 100%);
  border-radius: 50%;
}
.main .section .article__main--menu--item span {
  color: #fff;
}
.main .section .article__main--menu--item:hover {
  background-color: hsl(201deg, 100%, 36%);
  box-shadow: 0.25rem 0.25rem hsl(214deg, 97%, 27%);
  transition: 0.3s ease-out;
  border-bottom: 1px solid hsl(214deg, 97%, 27%);
  border-right: 1px solid hsl(214deg, 97%, 27%);
}

/*Comienzo Footer*/
.footer {
  grid-area: Footer;
  background: hsl(190deg, 100%, 42%);
}
.footer .section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
