/* Error: @use rules must be written before any other rules.
 *   ,
 * 3 | @use './h-colors' ;
 *   | ^^^^^^^^^^^^^^^^^^
 *   '
 *   styles/_c-list.scss 3:1  @use
 *   styles/_l-main.scss 3:1  @import
 *   styles/styles.scss 18:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: @use rules must be written before any other rules.\a   \2577 \a 3 \2502  @use './h-colors' ;\a   \2502  ^^^^^^^^^^^^^^^^^^\a   \2575 \a   styles/_c-list.scss 3:1  @use\a   styles/_l-main.scss 3:1  @import\a   styles/styles.scss 18:9  root stylesheet";
}
